{% extends "layout.html" %}

{% block title %}NerdyCritics | Welcome!{% endblock %}

{% block body %}

<!-- Flash Messaging -->
{% with messages = get_flashed_messages() %}
{% if messages %}

<div class="container-fluid" style="background-color: lightgreen; color: white;">
  <div class="container">
  {% for message in messages %}
    <p class="text-center"><strong>{{message}}</strong></p>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endwith %}

<div class="container">
  <div class="row mt-4 mr-2 mb-4 ml-2">
  {% for album in albums %}
  <div class="col-md-4">
    <div class="card" style="width: 20rem; margin: 2rem auto;">
      <img class="card-img-top" src="{{album.cover}}" alt="Album cover of {{album.title}} by {{album.artist}}">
      <div class="card-body">
        <h4 class="card-title">{{album.title}}</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Artist: </strong><span>{{album.artist}}</span></li>
        <li class="list-group-item"><strong>Genre: </strong><span>{{album.genre}}</span></li>
        <li class="list-group-item"><strong>Release Date: </strong><span>{{album.release_date}}</span></li>
        <li class="list-group-item"><strong>Number of Tracks: </strong><span>{{album.number_of_track}}</span></li>
        <div>
          <a href="{{url_for("editAlbum", album_id=album.id)}}" class="btn btn-success btn-block text-center" style="border-radius: 0px;" role="button">Edit</a>
          <a href="{{url_for("deleteAlbum", album_id=album.id)}}" class="btn btn-primary btn-block text-center" style="border-radius: 0px; margin: 0;">Delete</a>
        </div>
      </ul>
    </div>
  </div>
  {% endfor %}
  </div>
</div>

{% endblock %}
